.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
}
h2{
    margin-left: 100px;
}

.mb-3{
    margin: 20px;
}

.form-class {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-fields {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
}

.login-btn{
    width: 75%;

}