.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
}
h2{
    margin: 0;
}

.form-class {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-fields {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
}

.login-btn{
    width: 75%;

}