body{
    font-family: chirp;
    background-color: white;
}
.sidenav {
    height: 100%;
    width: 25%;
    position: fixed;
    border-right: 1px solid grey;
    z-index: 1;
    overflow-x: hidden;
}

.dashboard-logo{
    width: 30px;
    height: 30px;
    margin-top: 3%;
    margin-right: 74%;
}
.sidenav a{
    font-family: chirp-bold;
    font-size: 28px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 0;
    color: white;
    
}

.sidenav a:hover {
    background-color: #ddd;
    opacity: 1;
    border-radius: 20px;
}





.fas{
   color: white;
}

.middle-sect {
    width: 45%;
    margin-left: 25%;
    border-right: 1px solid grey;
}

.navbar
{   
    position: fixed;
    line-height: 20px;
    height: 50px;
}
.nav-link-fy {
    display: inline-block;
    overflow-x: hidden;
    position: fixed;
    width: 50%;
    font-size: 18px;
    font-family: chirp-medium;
    line-height: 19px;
    margin-left: 10%;
    color: white;

}

.nav-link-f {
    display: inline-block;
    overflow-x: hidden;
    position: fixed;
    width: 50%;
    font-size: 18px;
    font-family: chirp-medium;
    color: white;
    line-height: 19px;
    margin-left: 20%;
    margin-top: 0;
}

.form-group {
    margin-top: 10%;
    background-color: black;
    color: grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.form-control {
    font-size: 28px; /* Adjust the font size as needed */
    resize: vertical; /* Allow vertical resizing */
    min-height: 20px; /* Set a minimum height */
    max-height: 200px;
    margin: 0;
    padding-bottom: 0;
}

.btn.btn-secondary{
    font-family: chirp-heavy;
    border-radius: 25px;
    border: none;
    width: 70px;
    height: 35px;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 80%;
    background-color:#359cf0;
    color: white;
}

.other-tweets{
    margin-top: 0;
    border-bottom: 1px solid grey;
}

.user-name {
    margin-left: 10%;
    color: #919090;
}

.time-posted {
    color:#919090;
    margin-left: 10%;
}
.users-tweet {
    color: white;
    margin-left: 10%;
    margin-top: 5%;
}
.third-sect {
    display: flex;
    position: absolute;
    margin-left: 69.9%;
    top: 0;
    width: 30%;
    height: 100%;
}

.search{
    position: fixed;

}


.search-query {
    height: 40px;
    width: 330px;
    padding-left: 15%;
    border: none;
    border-radius: 50px;
    background-color:#252530;
       color: #919090;
}

 
.search .fas.fa-search{
    position: fixed;
    margin-left: 1%;
    margin-top: 0.9%;
    color: #696969;
}
.input-group-text {
    background-color:#252530;
    border-radius: 50px;
}

.subscribe {
    margin-left: 10%;
    margin-top: 15%;
    padding: 0;
    width: 75%;
    height: 30%;
    border-radius: 3%;
    background-color:#252530;
}
.subscribe h2{
    margin-top: 3%;
    padding: 0;
    font-size: 23px;
    font-family: chirp-heavy;
}

.subscribe p{
    font-family: chirp;
}

.subscribe-btn{
    font-family: chirp-heavy;
    width: 100px;
    height: 35px;
    margin-left: 2%;
    border-radius: 50px;
    background-color:#359cf0;
    color: white;
    border: none;
}
.wh-box{
    position: absolute;
    border: 0;
    border-radius: 20px;
    height: 70%;
    width: 75%;
    margin-left: 10%;
    margin-top: 70%;
    background-color:#252530;
}
