
body{
    font-family: chirp;
}

.profile-user {
    margin-top: 0;
    margin-left: 0;
    font-family: chirp-heavy;
}

.user-profile-button {
  display: flex;
  margin-left: 30%;
  margin-top: 20%;
  background-color: black;
  border: none;
}



.tweet {
    border-top: 0.5px solid rgb(71, 71, 71);
    border-bottom: 0.5px solid rgb(71, 71, 71);
    padding: 10px;
  }
  
  .tweet-header {
    display: flex;
    align-items: center; 

  }
  
  .time-posted-p {
   white-space: nowrap;
   color: #919090;
  }

  .real-name-p {
    color: white;
    font-family: chirp-bold;
    font-size: 14px;
    margin-right: 1%;
    margin-left: 2%;
    white-space: nowrap;
  }
  
  .user-name-p {
    margin-right: 1%;
    font-family: chirp-medium;
    color: #919090;
  }

  .users-tweet {
    display: block;
    word-wrap: break-word;
    margin-left: 2%;
  }
  
  .tweet-icons i {
    color: #696969;
    margin-left: 8%;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 1%;
  }

.following-box {
    margin-left: 10%;
    margin-top: 15%;
    padding: 0;
    width: 75%;
    height: 30%;
    border-radius: 3%;
    background-color: black;
    border: 1px solid rgb(71, 71, 71);
}


.following-box strong{
    font-family: chirp-medium;
    font-size: 20px;
    color: white;
    margin-left: 3%;
}

.followed-by{
    margin-left: -75%;
    margin-top: 70%;
    padding: 0;
    width: 75%;
    height: 30%;
    border-radius: 3%;
    background-color: black;
    border: 1px solid rgb(71, 71, 71);
}

.followed-by strong{
    font-family: chirp-medium;
    font-size: 20px;
    color: white;
    margin-left: 3%;
}

.follow-btn {
  position: fixed;
  font-family: chirp-bold;
  width: 250px;
  height: 70px;
  border-radius: 100px;
  border: 1px solid rgb(71, 71, 71);
  background-color: black;
  color: white;
  margin-left: 74%;
  margin-top: -10%;
  padding: 1%;
}

.btn-outline-danger {
  position: fixed;
  font-family: chirp-bold;
  width: 250px;
  height: 70px;
  border-radius: 100px;
  border: 1px solid rgb(71, 71, 71);
  margin-left: 74%;
  margin-top: -10%;
}