body{
    font-family: chirp;
}
.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    border-right: 1px solid grey;
    z-index: 1;
    overflow-x: hidden;
}

.dashboard-logo{
    width: 30px;
    height: 30px;
    margin-top: 2%;
    margin-right: 74%;
}
.sidenav a{
    font-family: chirp-bold;
    font-size: 28px;
    display: block;
    padding-top: 10%;
    margin-left: 30%;
    
}

.fa-house{
    color: aqua;
    background-color: red;
}

.middle-sect {
    width: 40%;
    margin-left: 30%;
    border-right: 1px solid grey;
}