
body{
    font-family: chirp;
}

.profile-user {
    margin-top: 0;
    margin-left: 0;
    border-bottom: 1px solid rgb(71, 71, 71);

}

.tweet {
    border-top: 0.5px solid rgb(71, 71, 71);
    border-bottom: 0.5px solid rgb(71, 71, 71);
    padding: 10px;
  }
  
  .tweet-header {
    display: flex;
    align-items: center; 

  }
  
  .time-posted-p {
   margin-left: 45%;
   white-space: nowrap;
  }

  .real-name-p {
    color: white;
    font-family: chirp-bold;
    font-size: 14px;
    margin-right: 1%;
    margin-left: 8.5%;
    white-space: nowrap;
  }
  
  .user-name-p {
    margin-right: 1%;
    font-family: chirp-medium;
  }

  .users-tweet {
    display: block;
  }
  
  .tweet-icons i {
    color: #696969;
    margin-left: 8%;
    margin-top: 3%;
    margin-right: 5%;
    margin-bottom: 1%;
  }

.following-box {
    margin-left: 10%;
    margin-top: 15%;
    padding: 0;
    width: 75%;
    height: 30%;
    border-radius: 3%;
    background-color: black;
    border: 1px solid rgb(71, 71, 71);
}


.following-box strong{
    font-family: chirp-medium;
    font-size: 20px;
    color: white;
    margin-left: 3%;
}

.followed-by{
    margin-left: -75%;
    margin-top: 70%;
    padding: 0;
    width: 75%;
    height: 30%;
    border-radius: 3%;
    background-color: black;
    border: 1px solid rgb(71, 71, 71);
}

.followed-by strong{
    font-family: chirp-medium;
    font-size: 20px;
    color: white;
    margin-left: 3%;
}

.unfollow-btn button{
  position: absolute;
  margin-left: 73%;
  margin-top: -10%;

}