{% extends 'base.html' %}
{% load static %}
{% block title %}Home / X{% endblock %}
{% block content %}
<div class="flex-container">
    
    <div class="sidenav">
        <img class="dashboard-logo" src="{% static '/images/logo.svg' %}" alt="">
        <li><a href="/dashboard"><i class="fas fa-home"></i> <span>Home</span></a></li>
            <li><a href="/explore"><i class="fas fa-search"></i> <span>Explore</span></a></li>
            <li><a href="/notifications"><i class="fas fa-bell"></i> <span>Notifications</span></a></li>
            <li><a href="/messages"><i class="fas fa-envelope"></i> <span>Messages</span></a></li>
            <li><a href="/profile"><i class="fas fa-user"></i> <span>Profile</span></a></li>
    </div>
    <div class="middle-sect">
        <h1>hello</h1>
    </div>
</div> 
{% endblock %}